<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Decode Food Delivery</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <header class="header">
        <div class="header-left">
            Code Decode Food Delivery
        </div>
        <div class="header-right">
            <img src="\assets\avatar-pics\avatar.jpg" alt="Avatar" class="avatar">
            <span>Hey JohnDoe</span>
        </div>
    </header>
</body>
</html>